<form hx-post="/profile" hx-target="#profile-form" hx-swap="outerHTML">
  {{if .Success}}
  <div class="notification is-success mb-4">
    <button class="delete"></button>
    <p><strong>Success!</strong> {{.Success}}</p>
  </div>
  {{end}}

  <div class="columns">
    <div class="column is-6">
      <div class="field">
        <label for="first_name" class="label">First Name</label>
        <div class="control has-icons-left">
          <input type="text" name="first_name" id="first_name"
            class="input is-medium {{if .Errors.FirstName}}is-danger{{end}}" placeholder="John"
            value="{{if .User}}{{.User.FirstName}}{{end}}">
          <span class="icon is-small is-left">
            <i class="fas fa-user"></i>
          </span>
        </div>
        {{if .Errors.FirstName}}
        <p class="help is-danger">{{.Errors.FirstName}}</p>
        {{end}}
      </div>
    </div>
    <div class="column is-6">
      <div class="field">
        <label for="last_name" class="label">Last Name</label>
        <div class="control has-icons-left">
          <input type="text" name="last_name" id="last_name"
            class="input is-medium {{if .Errors.LastName}}is-danger{{end}}" placeholder="Doe"
            value="{{if .User}}{{.User.LastName}}{{end}}">
          <span class="icon is-small is-left">
            <i class="fas fa-user"></i>
          </span>
        </div>
        {{if .Errors.LastName}}
        <p class="help is-danger">{{.Errors.LastName}}</p>
        {{end}}
      </div>
    </div>
  </div>

  <div class="field mt-5">
    <div class="control">
      <button type="submit" class="button is-primary is-medium is-fullwidth">
        <span class="icon">
          <i class="fas fa-save"></i>
        </span>
        <span>Update Profile</span>
      </button>
    </div>
  </div>

  {{if .Error}}
  <div class="notification is-danger mt-4">
    <p>{{.Error}}</p>
  </div>
  {{end}}
</form>
